<li class="schedule-details">
  <div class="block">
    <!-- time -->
    <div class="time">
      <i class="fa fa-clock-o"></i>
      <span class="time"><%= data.time %></span>
    </div>
    <!-- Speaker -->
    <div class="speaker">
      <img src="<%= data.img %>" alt="speaker-thumb-one">
    <span class="name"><%= data.name %></span>
    </div>
    <!-- Subject -->
    <div class="subject"><%= data.subject %></div>
    <!-- Venue -->
    <div class="venue"><%= data.venue %></div>
  </div>
</li>